body{
	background-image: url("../img/calais.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100%;
}

.paragraphe1{
	background-color: #00209F;
	color:#ffffff;
}

.paragraphe2{
	background-color: #ffffff;
}

.paragraphe3{
	background-color: #F42A41;
}